<div class="tips">
  <h1>Safety Tips</h1>
  <p>
    {@emojis}
  </p>

  <ol>
    <%= for tip <- @tips do %>
      <a href={~p"/tips/#{tip.id}"}>
        <li>{tip.text}</li>
      </a>
    <% end %>
  </ol>
</div>
